<!DOCTYPE html>
<html>
<head>
<title>Contact Me|Portfolio Me</title>
</head>
<body>
<header class="header" id="header">
	<div class="container">
    	<figure>
        	<%= link_to image_tag("banner6.png", id: "imglogo") %>
        </figure>	
        <h1>Contact Me here.</h1>
        <section class="main-section contact" id="contact">
	
        <div class="row">
        	<div class="col-sm-offset-2 col-sm-8 wow fadeInLeft">
            	<div class="contact-info-box address clearfix">
                	<h3><i class=" icon-map-marker"></i>Address:</h3>
                	<span>Purok Kapayas, Osmena St. Gun-ob, Lapu-Lapu City.</span>
                </div>
                <div class="contact-info-box phone clearfix">
                	<h3><i class="fa-phone"></i>Phone:</h3>
                	<span>09224763850/236-6772</span>
                </div>
                <div class="contact-info-box email clearfix">
                	<h3><i class="fa-pencil"></i>email:</h3>
                	<span>ejmstark@gmail.com</span>
                </div>
            	<h3>View my Social Media</h3>

               <div class="oneline">
               	<%= link_to image_tag("fb.png", id: "imglogo1"), "https://www.facebook.com/ejmstark16"%>
               	
               </div>
                <div class="oneline">
               	<%= link_to image_tag("twitter.png", id: "imglogo1"), "https://twitter.com/ejmstark"%>
               	
               </div>
                <div class="oneline">
               	<%= link_to image_tag("github.png", id: "imglogo1"), "https://github.com/ejmstark"%>
               	
               </div>
                <div class="oneline">
                
               	<%= link_to image_tag("9gag.png", id: "imglogo1"),"http://9gag.com/u/mindtilt" %>

               </div>
            </div>
        	
        </div>
</section>
            
    </div>
    


</header>

</body>
</html>

