<!DOCTYPE html>
<html>
<head>
<title>Skill Sets|Portfolio Me</title>
</head>
<body>
<header class="header" id="header">
	<div class="container">
    	<figure>
        	<%= link_to image_tag("banner5.png", id: "imglogo") %>
        </figure>	
        <h1>Particluar Skill Sets</h1>
        <div class="lineone">
        <%= image_tag("skill1.png", id: "imgSkill")%>
        <h3>Java, my main language (as for now). Java is quick and easy. Many built in functions to help you.</h3>
        </div>

        <div class="lineone">
        <%= image_tag("skill2.png", id: "imgSkill")%>
        <h3>C++ or C, first language ever taught to me. And for me I consider it as the soul of programming language.</h3>
        </div>

        <div class="lineone">
        <%= image_tag("skill3.png", id: "imgSkill")%>
        <h3>PHP, my way of accessing Data in terms of web-app. I am willing to learn another language to get data from Database but for now I stick to PHP</h3>
        </div>

         <div class="lineone">
        <%= image_tag("skill4.png", id: "imgSkill")%>
        <h3>MYSQL, easy language for querying data from Database. I like this specific language for its "HUMAN" syntax</h3>
        </div>

         <div class="lineone">
        <%= image_tag("skill5.png", id: "imgSkill")%>
        <h3>Sony Vegas Pro, I also edit videos and this is my preferred software to use because I was trained to use this.</h3>
        </div>

         <div class="lineone">
        <%= image_tag("skill6.png", id: "imgSkill")%>
        <h3>PAdobe Photoshop, aside from videos, I also edit pictures for fun and for academic purposes (Since pictures are mainstream)</h3>
        </div>
            
    </div>
</header>
</body>
</html>

