<nav class="main-nav-outer" id="test">
    <div class="container">
        <ul class="main-nav">
        
            <li><%= link_to "Home", root_path%></li>
            <li><%= link_to "About Me", portfolio_me_AboutMe_path%></li>
            <li><%= link_to "Skill Set", portfolio_me_SkillSet_path%></li>
            <li><%= link_to "Hire Me", portfolio_me_HireMe_path%></li>
            
            <li><%= link_to "Portfolio", portfolio_me_Portfolio_path%></li>
            
            <li><%= link_to "Contact Me", portfolio_me_Contact_path%></li>
        </ul>
       
    </div>
</nav>